* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 12px;
}

.calculator {
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.calculator-input {
    width: 100%;
    font-size: 40px;
    color: #ffffff;
    height: 70px;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: end;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    height: 50px;
    background-color: #5c5f68;
    border-radius: 3px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 25px;
    color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgba(70, 69, 69, 1.2);
}

button:active {
    border: 2px solid rgb(114, 14, 14);

}

.operator {
    color: rgb(255, 255, 255);
    background-color: #ff9f0a;
}

.allClear {
    background-color: rgba(73, 69, 69, 1.2);
    border-color: black;
    color: rgb(255, 255, 255);
}

.allClear:hover {
    background-color: rgb(62, 52, 92);
}

.negatif {
    background-color: rgba(73, 69, 69, 1.2);
    position: relative;
}

.negatif:hover {
    background-color: rgb(62, 52, 92);
}

.negatif::before {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMiA3Ljk5OEg4djRINnYtNEgydi0yaDR2LTRoMnY0aDR6bTEwIDEwaC04di0yaDh6TTE4LjUgNEw0IDE4LjVMNS41IDIwTDIwIDUuNXoiLz48L3N2Zz4=");
    filter: invert(1);
    top: 100px;
}

.equal {
    background-color: #ff9f0a;
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    /*grid-area: 2/4/6/5;
    height: 100%;*/
}

.percentage {
    background-color: rgba(73, 69, 69, 1.2);
}

.percentage:hover {
    background-color: rgb(62, 52, 92);
}

.zero {
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    grid-area: 5/1/6/3;
    height: 100%;
}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3px;
    padding: 2px;
}